@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


html .g-root {
    --g-border-radius-xs: 10px;
    --g-border-radius-s: 12px;
    --g-border-radius-m: 14px;
    --g-border-radius-l: 18px;
    --g-border-radius-xl: 22px;

    --g-font-family-sans: 'Google Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Roboto Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

html .g-root_theme_light {
    --g-color-private-brand-50: rgb(255 119 0 / 0.1);
    --g-color-private-brand-100: rgb(255 119 0 / 0.15);
    --g-color-private-brand-150: rgb(255 119 0 / 0.2);
    --g-color-private-brand-200: rgb(255 119 0 / 0.3);
    --g-color-private-brand-250: rgb(255 119 0 / 0.4);
    --g-color-private-brand-300: rgb(255 119 0 / 0.5);
    --g-color-private-brand-350: rgb(255 119 0 / 0.6);
    --g-color-private-brand-400: rgb(255 119 0 / 0.7);
    --g-color-private-brand-450: rgb(255 119 0 / 0.8);
    --g-color-private-brand-500: rgb(255 119 0 / 0.9);
    --g-color-private-brand-550: rgb(255 119 0);
    --g-color-private-brand-550-solid: rgb(255 119 0);
    --g-color-private-brand-1000-solid: rgb(67 43 29);
    --g-color-private-brand-950-solid: rgb(78 47 27);
    --g-color-private-brand-900-solid: rgb(100 56 24);
    --g-color-private-brand-850-solid: rgb(122 65 20);
    --g-color-private-brand-800-solid: rgb(145 74 17);
    --g-color-private-brand-750-solid: rgb(167 83 14);
    --g-color-private-brand-700-solid: rgb(189 92 10);
    --g-color-private-brand-650-solid: rgb(211 101 7);
    --g-color-private-brand-600-solid: rgb(233 110 3);
    --g-color-private-brand-500-solid: rgb(255 133 25);
    --g-color-private-brand-450-solid: rgb(255 146 51);
    --g-color-private-brand-400-solid: rgb(255 160 77);
    --g-color-private-brand-350-solid: rgb(255 173 102);
    --g-color-private-brand-300-solid: rgb(255 187 128);
    --g-color-private-brand-250-solid: rgb(255 201 153);
    --g-color-private-brand-200-solid: rgb(255 214 179);
    --g-color-private-brand-150-solid: rgb(255 228 204);
    --g-color-private-brand-100-solid: rgb(255 235 217);
    --g-color-private-brand-50-solid: rgb(255 241 230);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-background: rgb(255, 255, 255);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

html .g-root_theme_dark {
    --g-color-private-brand-50: rgb(200 99 12 / 0.1);
    --g-color-private-brand-100: rgb(200 99 12 / 0.15);
    --g-color-private-brand-150: rgb(200 99 12 / 0.2);
    --g-color-private-brand-200: rgb(200 99 12 / 0.3);
    --g-color-private-brand-250: rgb(200 99 12 / 0.4);
    --g-color-private-brand-300: rgb(200 99 12 / 0.5);
    --g-color-private-brand-350: rgb(200 99 12 / 0.6);
    --g-color-private-brand-400: rgb(200 99 12 / 0.7);
    --g-color-private-brand-450: rgb(200 99 12 / 0.8);
    --g-color-private-brand-500: rgb(200 99 12 / 0.9);
    --g-color-private-brand-550: rgb(200 99 12);
    --g-color-private-brand-550-solid: rgb(200 99 12);
    --g-color-private-brand-1000-solid: rgb(247 232 219);
    --g-color-private-brand-950-solid: rgb(244 224 206);
    --g-color-private-brand-900-solid: rgb(239 208 182);
    --g-color-private-brand-850-solid: rgb(233 193 158);
    --g-color-private-brand-800-solid: rgb(228 177 134);
    --g-color-private-brand-750-solid: rgb(222 161 109);
    --g-color-private-brand-700-solid: rgb(217 146 85);
    --g-color-private-brand-650-solid: rgb(211 130 61);
    --g-color-private-brand-600-solid: rgb(206 115 36);
    --g-color-private-brand-500-solid: rgb(183 92 14);
    --g-color-private-brand-450-solid: rgb(167 85 16);
    --g-color-private-brand-400-solid: rgb(150 78 19);
    --g-color-private-brand-350-solid: rgb(134 71 21);
    --g-color-private-brand-300-solid: rgb(117 64 23);
    --g-color-private-brand-250-solid: rgb(100 57 25);
    --g-color-private-brand-200-solid: rgb(84 50 27);
    --g-color-private-brand-150-solid: rgb(67 43 30);
    --g-color-private-brand-100-solid: rgb(59 40 31);
    --g-color-private-brand-50-solid: rgb(51 36 32);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34, 29, 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}
